<%- include("./partials/header.ejs", {title: "Error"}) %>
<h1>404</h1>
<div>
    <p>Veuillez correctement saisir l'adresse : </p>
    <ul>
        <li><a href="/">Home_page</a></li>
        <li><a href="/contact">contact</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>